body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.mt-0 {
  margin-top: 0rem;
}

.pt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.pb-0 {
  margin-bottom: 0rem;
}

.mt-1 {
  margin-top: 1rem;
}

.pt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pb-1 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.pt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.pb-2 {
  margin-bottom: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.pt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.pb-3 {
  margin-bottom: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.pt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pb-4 {
  margin-bottom: 4rem;
}

.mt-6 {
  margin-top: 6rem;
}

.pt-6 {
  margin-top: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.pb-6 {
  margin-bottom: 6rem;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.no-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
}

.cont-dc,
.cont-sites {
  width: 10%;
  height: 450px;
  margin-top: 40px;
  margin-left: 30px;
}

.socials .fa-facebook-f,
.socials .fa-twitter,
.socials .fa-pinterest,
.socials .fa-plus {
  font-size: 24px;
  color: #fff;
}

.cont-tal:after,
.cont-specs:after,
.cont-img-text:after {
  content: "";
  display: table;
  clear: both;
}

.art-by,
.written-by,
.series,
.Price,
.date {
  width: 600px;
  height: 50px;
  border-top: 2px solid #eaeaea;
}

.art-by span,
.written-by span,
.series span {
  color: #35badf;
}

.Price span,
.date span {
  color: #4c4c4c;
}

.cont-2,
.cont-4 {
  width: 320px;
  height: 100px;
  border-right: 2px solid #eaeaea;
}

.cont-2 p,
.cont-3 p,
.cont-4 p {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 800;
  color: #9f9f9f;
  text-transform: uppercase;
  cursor: pointer;
}

.cont-2 img,
.cont-3 img,
.cont-4 img {
  float: right;
  width: 50px;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}

header .cont-power-add {
  justify-content: right;
  width: 100%;
  height: 40px;
  background: #0282f9;
}
header .cont-power-add a {
  display: inline-block;
  margin-top: 10px;
  padding-left: 5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
header .cont-power-add .fa-sort-down {
  margin-top: 6px;
  padding-right: 12rem;
  padding-left: 4px;
  color: #fff;
  cursor: pointer;
}
header .links {
  width: 60%;
  height: 150px;
  margin-right: 27%;
}
header .navbar-brand img {
  margin-top: 20px;
  margin-bottom: 20px;
}
header .lists {
  list-style: none;
  margin-top: 64px;
}
header .lists .no-list {
  color: #464646;
  font-weight: 800;
  padding: 20px;
}
header .lists .icon-2 {
  margin-top: -21px;
  padding-left: 76px;
  color: #0282f9;
  cursor: pointer;
}
header .search {
  padding: 2px;
  padding-right: 20px;
  padding-left: 40px;
  margin-left: 50px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  border-bottom: 2px solid #0282f9;
  color: #000;
}
header .fa-search {
  margin-top: -22px;
  margin-left: 160px;
  padding: 4px;
  color: #1c1c1c;
  border-bottom: 2px solid #0282f9;
  cursor: pointer;
}

main .container .cover-img {
  margin-left: 40px;
  margin-top: 14%;
  border: 1px solid #fff;
}
main .container-blue {
  width: 100%;
  height: 67px;
  background: #0282f9;
}
main .container-blue p {
  display: inline-block;
  margin-top: 35px;
  margin-left: 15%;
  font-size: 26px;
  padding: 0px 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #0282f9;
}
main .comics {
  width: 100%;
  background: #1c1c1c;
}
main .comics-list h3 {
  font-size: 13px;
  color: #fff;
}
main .load {
  width: 198px;
  height: 40px;
  margin-left: 290%;
  background: #0282f9;
  margin-bottom: 20px;
  cursor: pointer;
}
main .load p {
  padding: 10px 50px;
  font-weight: 600;
  color: #fff;
}
main .cont-blue {
  justify-content: center;
  width: 100%;
  height: 160px;
  background: #0282f9;
}
main .cont-blue img {
  width: 50px;
  padding: 10px;
  padding-left: 60px;
}
main .cont-blue p {
  margin-right: 60px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
main .cont-white {
  width: 100%;
  height: 40px;
}
main .cont-show-blue {
  width: 100%;
  height: 90px;
  background: #0282f9;
  justify-content: right;
}
main .socials {
  width: 40px;
  height: 40px;
  margin-top: 58px;
  margin-left: 97.7%;
  justify-content: center;
  flex-direction: column;
}
main .socials .fa-facebook-f {
  padding: 16px;
  background: #3b5998;
}
main .socials .fa-twitter {
  padding: 11px;
  background: #1ea1f2;
}
main .socials .fa-pinterest {
  padding: 12px;
  background: #cb2128;
}
main .socials .fa-plus {
  padding: 13px;
  background: #ff6651;
}
main .container h1 {
  font-size: 34px;
  color: #003f5e;
}
main .cont-price {
  max-width: 720px;
  margin-left: 20%;
}
main .cont-price .price {
  padding: 20px;
  margin-bottom: 40px;
  font-weight: 600;
  color: #fff;
  background: #55ba59;
  border-bottom: 1px solid #8d8d8d;
}
main .price span {
  margin-left: 20%;
  text-transform: uppercase;
  color: #b1f796;
}
main .price small {
  margin-left: 80px;
  font-size: 16px;
}
main .price .icon-3 {
  margin-left: 10px;
  cursor: pointer;
}
main .cont-img-adv {
  display: inline-block;
  width: 330px;
  height: 330px;
  margin-top: 7%;
  margin-left: 60.7%;
}
main .cont-img-adv p {
  margin-left: 49%;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
main .cont-img-adv img {
  width: 320px;
  cursor: pointer;
}
main .text .title {
  font-weight: 600;
  color: #555555;
}
main .text p {
  padding: 4px;
  color: #555555;
}
main .cont-tal-specs {
  width: 100%;
  height: 410px;
  background: #f6f6f6;
}
main .cont-tal {
  float: left;
  width: 32%;
  height: 250px;
  margin-left: 17%;
}
main .tal {
  display: inline-block;
  width: 100px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
}
main .tal h1,
main .specs h1 {
  color: #003f5e;
}
main .art-by p,
main .written-by p,
main .series p,
main .Price p,
main .date p {
  font-weight: 600;
  color: #003f5e;
}
main .art-by span,
main .series span {
  margin-left: 150px;
}
main .written-by span {
  margin-left: 20%;
}
main .written-by,
main .date {
  border-bottom: 2px solid #eaeaea;
}
main .cont-specs {
  float: right;
  width: 32%;
  height: 300px;
  margin-right: 16.8%;
}
main .specs {
  width: 100px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
}
main .series span {
  text-transform: uppercase;
}
main .Price span {
  margin-left: 20.7%;
}
main .date span {
  margin-left: 17%;
}
main .cont-img-text {
  width: 100%;
  height: 200px;
  border-top: 1px solid #eaeaea;
  background: #f6f6f6;
}
main .cont-1 {
  width: 320px;
  height: 100px;
  margin-left: 10%;
  border-left: 2px solid #eaeaea;
  border-right: 2px solid #eaeaea;
}
main .cont-1 p {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 800;
  color: #9f9f9f;
  text-transform: uppercase;
  cursor: pointer;
}
main .cont-1 img {
  float: right;
  width: 50px;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}
main .cont-3 {
  width: 340px;
  height: 100px;
  border-right: 2px solid #eaeaea;
}

footer {
  width: 100%;
  height: 620px;
  background: #0282f9;
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer .cont-footer {
  justify-content: left;
  background-image: url("../images/logo-footer.png");
  background-repeat: no-repeat;
  background-position: 86% 50%;
  background-size: 38%;
}
footer .cont-comics-shop {
  width: 12%;
  height: 450px;
  margin-top: 40px;
  margin-left: 9%;
}
footer .cont-footer h1 {
  color: #fff;
  text-transform: uppercase;
}
footer .cont-footer p {
  font-weight: 600;
  color: #8d8d8d;
}
footer .cont-copyright {
  width: 40%;
  height: 42px;
  margin-top: 20px;
  margin-left: 9%;
  margin-bottom: 50px;
  font-weight: 600;
}
footer .cont-copyright p {
  color: #8d8d8d;
}
footer .cont-copyright a {
  text-decoration: none;
  color: #0282f9;
}
footer .cont-bottom-icons {
  width: 100%;
  height: 140px;
  justify-content: left;
  background: #303030;
}
footer .cont-bottom-icons button {
  padding: 15px 20px;
  margin-left: 9%;
  line-height: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background: transparent;
  border: 2px solid #0282f9;
  text-transform: uppercase;
  cursor: pointer;
}
footer .icons {
  width: 70%;
  height: 80px;
  justify-content: right;
}
footer .icons p {
  padding: 20px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0282f9;
}
footer .icons i {
  padding: 10px 10px 7px;
  margin-left: 20px;
  font-size: 28px;
  border-radius: 30px;
  color: #303030;
  background: #797979;
}

.general-hero {
  height: 390px;
  background-image: url("../images/bg-hero-home.jpg");
  background-size: cover;
  background-position: center;
}

.comics-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 2.2rem;
}
.comics-list img {
  width: 100%;
}