body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.mt-0 {
  margin-top: 0rem;
}

.pt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.pb-0 {
  margin-bottom: 0rem;
}

.mt-1 {
  margin-top: 1rem;
}

.pt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pb-1 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.pt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.pb-2 {
  margin-bottom: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.pt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.pb-3 {
  margin-bottom: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.pt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pb-4 {
  margin-bottom: 4rem;
}

.mt-6 {
  margin-top: 6rem;
}

.pt-6 {
  margin-top: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.pb-6 {
  margin-bottom: 6rem;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.no-list {
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
}

.general-hero {
  height: 390px;
  background-image: url("../images/bg-hero-home.jpg");
  background-size: cover;
  background-position: center;
}

.comics-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 2rem;
}
.comics-list img {
  width: 100%;
}