body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.mt-0 {
  margin-top: 0rem;
}

.pt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.pb-0 {
  margin-bottom: 0rem;
}

.mt-1 {
  margin-top: 1rem;
}

.pt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pb-1 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.pt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.pb-2 {
  margin-bottom: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.pt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.pb-3 {
  margin-bottom: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.pt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pb-4 {
  margin-bottom: 4rem;
}

.mt-6 {
  margin-top: 6rem;
}

.pt-6 {
  margin-top: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.pb-6 {
  margin-bottom: 6rem;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.no-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
}

header .cont-power-add {
  justify-content: right;
  width: 100%;
  height: 40px;
  background: #0282f9;
}
header .cont-power-add a {
  display: inline-block;
  margin-top: 10px;
  padding-left: 5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
header .cont-power-add .fa-sort-down {
  margin-top: 6px;
  padding-right: 12rem;
  padding-left: 4px;
  color: #fff;
  cursor: pointer;
}
header .navbar-brand img {
  margin-top: 10px;
}
header .lists {
  list-style: none;
}
header .lists .no-list {
  color: #464646;
  font-weight: 800;
  padding: 20px;
}
header .lists .icon-2 {
  margin-top: -20px;
  padding-left: 76px;
  color: #0282f9;
  cursor: pointer;
}
header .search {
  padding: 2px;
  padding-right: 20px;
  padding-left: 40px;
  margin-left: 50px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  color: #000;
  border-bottom: 2px solid #0282f9;
}
header .fa-search {
  margin-top: -23px;
  margin-left: 160px;
  padding: 4px;
  color: #1c1c1c;
  border-bottom: 2px solid #0282f9;
}

main .container .cover-img {
  margin-left: 40px;
  margin-top: 11%;
  border: 1px solid #fff;
}
main .container-blue {
  width: 100%;
  height: 34px;
  background: #0282f9;
}
main .container-blue p {
  display: inline-block;
  margin-top: 2px;
  margin-left: 15%;
  font-size: 26px;
  padding: 0px 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #0282f9;
}
main .comics {
  width: 100%;
  background: #1c1c1c;
}
main .comics-list h3 {
  font-size: 13px;
  color: #fff;
}
main .load {
  width: 198px;
  height: 40px;
  margin-left: 300%;
  background: #0282f9;
  margin-bottom: 20px;
  cursor: pointer;
}
main .load p {
  padding: 10px 50px;
  font-weight: 600;
  color: #fff;
}
main .cont-blue {
  justify-content: center;
  width: 100%;
  height: 160px;
  background: #0282f9;
}
main .cont-blue img {
  width: 50px;
  padding: 10px;
  padding-left: 60px;
}
main .cont-blue p {
  margin-right: 60px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
main .cont-white {
  width: 100%;
  height: 60px;
}

footer {
  width: 100%;
  height: 600px;
  background: #0282f9;
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.general-hero {
  height: 390px;
  background-image: url("../images/bg-hero-home.jpg");
  background-size: cover;
  background-position: center;
}

.comics-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 2.2rem;
}
.comics-list img {
  width: 100%;
}