// COLORS
$black: #000;
$light-black: #1c1c1c;
$footer-black: #303030;
$footer-grey: #797979;
$white: #fff;
$grey: #8d8d8d;
$blue: #3b5998;
$blue-light: #1ea1f2;
$blue-dark: #003f5e;
$red: #cb2128;
$orange: #ff6651;
$green: #55ba59;
$light-green: #b1f796;


$primary-col: #0282f9;
$secondary-col: #1c1c1c;
$tertiary-col: #464646;