// COLORS
$black: #000;
$light-black: #1c1c1c;
$footer-black: #303030;

$white: #fff;
$light-white: #f6f6f6;

$grey: #8d8d8d;
$grey2: #9f9f9f;
$light-grey: #eaeaea;
$footer-grey: #797979;
$footer-grey2: #555555;
$light-grey3: #4c4c4c;

$blue: #3b5998;
$blue-light: #1ea1f2;
$light-blue: #35badf;
$blue-dark: #003f5e;

$red: #cb2128;
$orange: #ff6651; 

$green: #55ba59;
$light-green: #b1f796;

$primary-col: #0282f9;
$secondary-col: #1c1c1c;
$tertiary-col: #464646;