main {
    .container .cover-img {
        margin-left: 40px;
        margin-top: 14%;
        border: 1px solid $white;
    }

    .container-blue {
        width: 100%;
        height: 67px;
        background: $primary-col;
    }

    .container-blue p {
        display: inline-block;
        margin-top: 35px;
        margin-left: 15%;
        font-size: 26px;
        padding: 0px 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: $white;
        background: $primary-col;
    }

    .comics {
        width: 100%;
        background: $light-black;
    }

    .comics-list h3 {
        font-size: 13px;
        color: $white;
    }

    .load {
        width: 198px;
        height: 40px;
        margin-left: 290%;
        background: $primary-col;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .load p {
        padding: 10px 50px;
        font-weight: 600;
        color: $white;
    }

    .cont-blue {
        justify-content: center;
        width: 100%;
        height: 160px;
        background: $primary-col;
    }

    .cont-blue img {
        width: 50px;
        padding: 10px;
        padding-left: 60px;
    }

    .cont-blue p {
        margin-right: 60px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: $white;
    }

    .cont-white {
        width: 100%;
        height: 40px;
    }

    .cont-show-blue {
        width: 100%;
        height: 90px;
        background: $primary-col;
        justify-content: right;
    }

    .socials {
        width: 40px;
        height: 40px;
        margin-top: 58px;
        margin-left: 97.7%;
        justify-content: center;
        flex-direction: column;
    }

    .socials .fa-facebook-f {
        padding: 16px;
        background: $blue;
    }

    .socials .fa-twitter {
        padding: 11px;
        background: $blue-light;
    }

    .socials .fa-pinterest {
        padding: 12px;
        background: $red;
    }

    .socials .fa-plus {
        padding: 13px;
        background: $orange;
    }

    .container h1 {
        font-size: 34px;
        color: $blue-dark;
    }

    .cont-price {
        max-width: 720px;
        margin-left: 20%;
    }

    .cont-price .price {
        padding: 20px;
        margin-bottom: 40px;
        font-weight: 600;
        color: $white;
        background: $green;
        border-bottom: 1px solid $grey;
    }

    .price span {
        margin-left: 20%;
        text-transform: uppercase;
        color: $light-green;
    }

    .price small {
       margin-left: 80px;
       font-size: 16px;
    }

    .price .icon-3 {
        margin-left: 10px;
    }

    .cont-img-adv {
        display: inline-block;
        width: 330px;
        height: 330px;
        margin-top: 7%;
        margin-left: 60.7%;
    }

    .cont-img-adv p {
        margin-left: 49%;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
    }

    .cont-img-adv img {
        width: 320px;
        cursor: pointer;
    }
}