main {
    .container .cover-img {
        margin-left: 40px;
        margin-top: 14%;
        border: 1px solid $white;
    }

    .container-blue {
        width: 100%;
        height: 67px;
        background: $primary-col;
    }

    .container-blue p {
        display: inline-block;
        margin-top: 36px;
        margin-left: 15%;
        font-size: 26px;
        padding: 0px 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: $white;
        background: $primary-col;
    }

    .comics {
        width: 100%;
        background: $light-black;
    }

    .comics-list h3 {
        font-size: 13px;
        color: $white;
    }

    .load {
        width: 198px;
        height: 40px;
        margin-left: 290%;
        background: $primary-col;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .load p {
        padding: 10px 50px;
        font-weight: 600;
        color: $white;
    }

    .cont-blue {
        justify-content: center;
        width: 100%;
        height: 160px;
        background: $primary-col;
    }

    .cont-blue img {
        width: 50px;
        padding: 10px;
        padding-left: 60px;
    }

    .cont-blue p {
        margin-right: 60px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: $white;
    }

    .cont-white {
        width: 100%;
        height: 40px;
    }

    .cont-show-blue {
        width: 100%;
        height: 90px;
        background: $primary-col;
        justify-content: right;
    }

    .socials {
        width: 40px;
        height: 40px;
        margin-top: 58px;
        margin-left: 97.7%;
        justify-content: center;
        flex-direction: column;
    }

    .socials .fa-facebook-f {
        padding: 16px;
        background: $blue;
    }

    .socials .fa-twitter {
        padding: 11px;
        background: $blue-light;
    }

    .socials .fa-pinterest {
        padding: 12px;
        background: $red;
    }

    .socials .fa-plus {
        padding: 13px;
        background: $orange;
    }

    .container h1 {
        font-size: 34px;
        color: $blue-dark;
    }

    .cont-price {
        max-width: 720px;
        margin-left: 20%;
    }

    .cont-price .price {
        padding: 20px;
        margin-bottom: 40px;
        font-weight: 600;
        color: $white;
        background: $green;
        border-bottom: 1px solid $grey;
    }

    .price span {
        margin-left: 20%;
        text-transform: uppercase;
        color: $light-green;
    }

    .price small {
       margin-left: 80px;
       font-size: 16px;
    }

    .price .icon-3 {
        margin-left: 10px;
        cursor: pointer;
    }

    .cont-img-adv {
        display: inline-block;
        width: 330px;
        height: 330px;
        margin-top: 7%;
        margin-left: 60.7%;
    }

    .cont-img-adv p {
        margin-left: 49%;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
    }

    .cont-img-adv img {
        width: 320px;
        cursor: pointer;
    }

    .text .title {
        font-weight: 600;
        color: $footer-grey2;
    }

    .text p {
        padding: 4px;
        color: $footer-grey2;
    }

    .cont-tal-specs {
        width: 100%;
        height: 410px;
        background: $light-white;
    }

    .cont-tal {
        float: left;
        width: 32%;
        height: 250px;
        margin-left: 17%;
    }

    .tal {
        display: inline-block;
        width: 100px;
        height: 60px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .tal h1,
    .specs h1 {
        color: $blue-dark;
    }

    .art-by p,
    .written-by p,
    .series p,
    .Price p,
    .date p {
        font-weight: 600;
        color: $blue-dark;
    }

    .art-by span,
    .series span {
        margin-left: 111px;
    }

    .written-by span {
        margin-left: 14%;
    }

    .written-by,
    .date {
        border-bottom: 2px solid $light-grey;
    }

    .cont-specs {
        float: right;
        width: 32%;
        height: 300px;
        margin-right: 16.8%;
    }

    .specs {
        width: 100px;
        height: 60px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .series span {
        text-transform: uppercase;
    }

    .Price span {
        margin-left: 14.7%;
    }

    .date span {
        margin-left: 11%;
    }

    .cont-img-text {
        width: 100%;
        height: 200px;
        border-top: 1px solid $light-grey;
        background: $light-white;
    }

    .cont-1 {
        width: 320px;
        height: 100px;
        margin-left: 10%;
        border-left: 2px solid $light-grey;
        border-right: 2px solid $light-grey;
    }

    .cont-1 p {
        float: left;
        margin-top: 20px;
        margin-left: 20px;
        font-weight: 800;
        color: $grey2;
        text-transform: uppercase;
        cursor: pointer;
    }

    .cont-1 img {
        float: right;
        width: 50px;
        margin-top: 20px;
        margin-right: 20px;
        cursor: pointer;
    }

    .cont-3 {
        width: 340px;
        height: 100px;
        border-right: 2px solid $light-grey;
    }
}